.ModalLogin {
  width: 40% !important;
}
.ModalLogin__social {
  padding: 2rem 0 !important;
  display: flex;
  justify-content: center;
}

/* tab screen 900px */
@media (max-width: 56.25em) {
  .ModalLogin {
    width: 60% !important;
  }
}

/* phone screen 600px */
@media (max-width: 37.5em) {
  .ModalLogin {
    width: 80% !important;
  }
}
