* {
  margin: 0 !important;
  padding: 0 !important;
}

*,
*::after,
*::before {
  box-sizing: inherit !important;
}
html {
  /* 1rem is 10 pixel */
  font-size: 62.5% !important;
  box-sizing: border-box !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
