.Promodoro__time {
  text-align: center;
  width: 10rem;
  font-size: 2rem;
  color: cornflowerblue;
  border-radius: 50rem;
  border: 2px black solid;
  font-weight: 700;
  padding: 4.2rem 1rem;
  margin: 4rem 0 1rem 5rem;
  background-color: whitesmoke;
}

.Promodoro__distractions {
  position: absolute;
  top: 0rem;
  left: 33%;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  border: 1px solid black;
  background-color: yellow;
}
.Promodoro__goal {
  padding: 10px 8px;
  position: absolute;
  top: 0rem;
  left: 14%;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  border: 1px solid black;
  background-color: blue;
  font-weight: 700;
}
.Promodoro {
  position: relative;
}

.Promodoro__control {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-grow: 0;
  margin-left: 6rem;
}
.single-digit {
  font-size: 1.5rem;
  padding: 10px 14px;
}
.double-digit {
  font-size: 1rem;
  padding: 10px 10px;
}
.Promodoro__content {
  position: relative;
}

.oncourse {
  background-color: green;
}
.ofcourse {
  background-color: rgb(255, 60, 0);
}

.promodoro__description {
  padding: 2rem 5rem 0 2rem;
  line-height: 1.5;
  font-size: 1.1rem;
}
