.GoalsPage {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.GoalsPage__header {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.loader {
  margin: 5rem auto;
}
.GoalsPage__plan {
  width: 50%;
}
.GoalsPage__tools {
  width: 40%;
  height: 100%;
}
.GoalsPage__partners {
  position: relative;
}

.toolsBtn {
  padding: 5px 10px;
  margin-right: 1.5rem;
  font-size: 1.1rem;
  font-family: "Roboto";
  letter-spacing: 1px;
  background-color: white;
  border-radius: 8px;
}
.activeBtn {
  background-color: #7daf3f;
  outline: none;
  color: white;
  font-weight: 500;
}
