.GoalsPage {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.GoalsPage__header {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.loader {
  margin: 5rem auto;
}
.GoalsPage__plan {
  width: 50%;
}
.GoalsPage__tools {
  width: 40%;
}
