.GoalMT-add {
  display: flex;
  align-items: center;
}
.GoalMT__content {
  height: auto;
  width: 90%;
  padding: 1rem 3rem;
  background-color: rgba(60, 255, 0, 0.459);
  margin: 0 2rem 2rem 0;
}
.Goal__operations {
  display: none;
}
.GoalMT__content:hover .Goal__operations {
  display: inline-flex;
  display: flex;
  justify-content: flex-end;
}

.GoalMT__description {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1px !important;
}
.Goal__time {
  display: flex;
  justify-content: flex-start;
}
.Goal__time * {
  margin-right: 1rem;
}
/* phone screen 600px */
@media (max-width: 37.5em) {
  .GoalMT__content {
    padding: 0.5rem 1.5rem;
    margin: 0 2rem 2rem 0;
  }
}
