.Goal__content {
  height: auto;
  width: 100%;
  padding: 1rem 3rem;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%);
  background-color: rgba(0, 183, 255, 0.459);
  margin-bottom: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.76);
}
.GoalLT-add {
  display: flex;
  align-items: center;
}

.Goal__operations {
  display: none;
}

.Goal__content:hover .Goal__operations {
  display: inline-flex;
  display: flex;
  justify-content: flex-end;
}

.Goal__description {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1px !important;
}
.Goal__time {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.Goal__time * {
  margin-right: 1rem;
}
.GoalLT__partners {
  padding: 0 5px;
  margin: auto;
}
