.sidebar {
  display: flex;
  flex-direction: column;
  border-right: rgba(175, 171, 171, 0.856) 1px solid;
  height: 80vh;
  border-radius: 5px;
  padding: 1rem;
}
.sidebar__discussion {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  width: 90%;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}
.sidebar__discussion-img {
  font-size: 2.5rem !important;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 5rem;
  margin-right: 1rem;
}
